.idea/
.python-version
__pycache__/
*.egg-info/
runs

*.job
*.params
*.err
*.out

.ipynb_checkpoints/
msmarco-med/
msmarco-small/
msmarco/


*.DS_Store
datasets
qpp_output

msmarco-small-perturbed-*
msmarco-med-perturbed-*
msmarco-perturbed-*

GradCache
notebooks/dl_clean.json
notebooks/dl_clean.txt
notebooks/dl_typo.json
notebooks/dl_typo.txt
notebooks/qpp_checkpoints.csv
notebooks/gathered_results*
notebooks/rep