.idea/
.python-version
__pycache__/
*.egg-info/
runs

*.job
*.params
*.err
*.out

.ipynb_checkpoints/
msmarco-med/
msmarco-small/
msmarco/


*.DS_Store
datasets
qpp_output

msmarco-small-perturbed-*
msmarco-med-perturbed-*
msmarco-perturbed-*
